@import "./src/utils/scss/variables";

.profileSettingsField {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $gray-border;
  padding: 10px 0;

  :last-child {
    color: gray;
  }

  .input {
    border: none;
    text-align: right;
  }
}
