@import 'src/utils/scss/variables';

.field {
    display: flex;
    flex-direction: column;
    color: $gray;
    .input{
        background: transparent;
        border:none;
        outline: none;
        padding: 7px 0;
    }

    &.formField {
        border: none;
        label {
            font-size: 13px;
            line-height: 13px;
            position: absolute;
            transition: 0.3s ease-out all;
        }

        .input:focus + label,
        .input:not(:placeholder-shown) + label {
            font-size: 9px;
            line-height: 9px;
            transform: translateY(-10px);
        }

        .input {
            font-size: 13px;
            line-height: 13px;
            border: none;
            outline: none;
            font-weight: 500;
            background: transparent;
            border-bottom: 1px solid blue;

            &:focus {
                outline: none;
            }
        }

        &.hasError .input{
            border-bottom: 1px solid $red;
        }


    }
    .error{
        font-size: 9px;
        color: $red;
        padding: 5px 0 0px 0;
    }
}