@import './src/utils/scss/variables';
.chatsPage{
    display: flex;
    height: 100%;
}
.sidePanel{
    width: 310px;
    background: $container;
    display: flex;
    flex-direction: column;
}
.chatList{
    padding: 10px 0;
    overflow: hidden auto;
   .chatItem{
       padding: 0 10px;
       &:hover{
           background: #E4EDFD;
       }
   }
}
.profileButton{
    color:$gray;
    font-size: 12px;
    text-align: right;
    margin: 20px 0;
    padding: 0 10px;
}
.searchBox{
    padding: 10px;
}
.searchField{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;

    background: $gray-blank;
    border-radius: 5px;
    padding:6px 10px;
    .input{
        background: none;
        border: none;
        outline: none;
        width: 100%;
    }
    .searchIcon{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 200px;
        height: 20px;
        padding: 0 5px;
        transition: width 23ms ease-out;
    }
    .input:focus + .searchIcon,
    .input:not(:placeholder-shown) + .searchIcon {
        width: 20px;
    }
}